@media screen and (min-width:300px){
	
header{background: #0081CC;
	   opacity: 0.9;
}

#logo{margin: 4%;
	  margin-bottom:0%;
	  width: 12%;
}
	  
	  
.navbar-brand{margin-right: 5%; font-weight:400;
}


.nav-link{font-weight:500;
}




#cover{	width: 100%;
		height: 700px;
		background: #003559;
		background-image: url('../images/workshop5.jpeg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-top: 1%;
}

#border{background: #003559 ;
}
		


#keywords{background: #292929;
		margin-top: 9%;
		opacity: 0.75;
		color: white;
		padding: 3%;
		font-size: 120%;
}


#keywords p{font-size: 130%;
}


#overview{text-align: center;
		padding: 4% 7%;	
		background: #B9D6F2;
		color: #003559;
}





#workprogram{padding: 4% 7%; color: #003559;
}

h2{text-align: center;
}
	 



#glimpse p{padding: 10%; 
		   text-align: center; 
		   color: #003559; 
}

#glimpse img:nth-child(1){border-right: solid 1px; width:120px; height:125px; margin:auto;
}

#glimpse img:nth-child(2){width:120px; height:110px; margin:auto; margin-left:0%;}


#projectImages img{margin-bottom:2%; margin-left: 4%;
}

#projectImages img:hover{opacity:0.7;
}	




aside{margin-top: 15%; 
	  background: #0076ba; 
	  padding-bottom:3%; 
	  padding-top: 3%; 
	  color: #FFFFFF;
	  text-align: center;
}

#calendar{margin: auto; margin-bottom: 15%;		 
}



iframe{border:none; overflow: hidden;
}



.footer{margin-top: 10%; 
		height:30vh;
		background: #003559;
		color:#DDEBF8;
		padding-bottom: 2%;
		clear: both;
}

.footer a{text-decoration: none; color: #FFFFFF;
}


#homepage{display: inline-block;
		  width: 10%;
		  margin-left:5%;
		  margin-top: 3%;
		  float: left;
}	

#address{display: inline-block;
		 width: 30%;
		 margin-left: 2%;
		 margin-top: 3%;
		 float: left;
		 font-size: 13px;
}



.connect{display: inline-block;
		float:right;
		margin-right: 5%;
		margin-top:3%;
		width: 40%;
}

.connect i{margin-right:2%;
		width: 10%;} 



.partners{margin-top:5%;
}

.partners p{margin: 0%; padding: 0%;
}

.partners img{display: inline-block;
			 width: 32%;			  
}
			  
 


.ContentPages{margin: 0% 4%;
			  padding: 5% 2%;
			  background: #FFFFFF;			  
}

.ContentPages h2{text-align: left;
				 font-variant:small-caps;
}

.ContentPages nav a{display: block;
					box-sizing: border-box;
					text-decoration: none;
					font-weight: 400;
					padding: 2%;
					color: #0081CC;
					border-bottom: dotted 1px;
}

.ContentPages a:hover{background:#eaecf0; color:#003559;
}

.ContentPages a.current{background: #0081CC; color: #FFFFFF;
}

.ContentPages section{margin-top: 15%; color: #003559;
}

.ContentPages video{margin-right: 2%; 
					margin-bottom: 12%; 
					padding:0%;
}


#news{margin-top:10%;
}

#news img{height: 100px; 
		  transition: .5s ease-in .5s;
}


#news img:hover{transform: rotate(360deg);
}





#NHFlogo{display: block;
		width:75%;		
}




}


			
			
			
			




@media screen and (min-width:720px){


#logo{margin: 2%;
	  margin-bottom:0%;
}
	  
	 


#overview h2, #workprogram h2{text-align: center;
}

#glimpse img{border-right: solid 1px; margin: auto;
}

#glimpse p{padding: 4%;text-align: left;
}



aside{margin-top: 0%;	  
}

#calendar{margin-bottom: 20%;
}




.footer{margin-top: 5%; 
		height:40vh;
}



#address{width: 20%;
}



.Content{background: #eaecf0;
}

.ContentPages{margin: 0% 10%;
}


.ContentPages nav{display:inline-block;
			  float: left;
			  width: 20%;
}

.ContentPages nav a{padding:5%;
}


.ContentPages section{margin-top: inherit; padding-left: 25%;
}



#NHFlogo{width:50%;
}

 



}